GROQ_API_KEY=
GEMINI_API_KEY=


EXTRACTION_MODEL=openai/gpt-4o-mini
RESPONSE_MODEL=openai/gpt-4o
JUDGE_MODEL=openai/gpt-4o

PAYMENT_API_BASE_URL=https://se-payment-verification-api.service.external.usea2.aws.prodigaltech.com